<html>
    <body>
    <table>
        <tr>
            <td>id</td>
            <td>título</td>
        </tr>
        <% for (let i = 0; i < lista.length; i++ ) {%>
            <tr>
                <td><%=lista[i].id %></td>
                <td><%= lista[i].titulo %></td>
            </tr>
        <%}%>
    </table>
    </body>
</html>